p {
  background-color: #dfdac5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmax 0vmax;
  font-size: 3.2vmax;
  font-weight: 600;
  color: #292d59;
}

.club-name {
  color: white;
  font-weight: 600;
}
